{
  "extends": "eslint-config-egg",
  "rules": {
    "class-methods-use-this": "off",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": false
      }
    }],
    "valid-jsdoc": [2, {
      "requireReturn": false
    }],
    "no-underscore-dangle": "off",
    "array-bracket-spacing": "off"
  }
}
